body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: white;
}
html body {
    overflow-y:auto !important;
    width: 100% !important;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
    text-decoration: none;
    color:inherit;
}

.base-content {
    width: 1200px;
    margin: 0 auto;
    background: white;
}
.footer{
    text-align: center;
    font-family: "Courier New";
    font-weight: bold;
}
i {
    font-style: normal !important;
}